[submodule "setting/vim_linux/bundle/vim-markdown"]
	path = setting/vim_linux/bundle/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "setting/vim_linux/bundle/emmet-vim"]
	path = setting/vim_linux/bundle/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "setting/vim_linux/bundle/taglist.vim"]
	path = setting/vim_linux/bundle/taglist.vim
	url = git@github.com:vim-scripts/taglist.vim.git
[submodule "setting/vim_linux/bundle/nerdtree"]
	path = setting/vim_linux/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "setting/vim_linux/bundle/vim-powerline"]
	path = setting/vim_linux/bundle/vim-powerline
	url = git@github.com:Lokaltog/vim-powerline.git
[submodule "setting/vim_linux/bundle/vim-colors-solarized"]
	path = setting/vim_linux/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
